<%# Inserimento header %>
<%- include("partials/header.ejs") %>

<%# Form per editare le informazioni di un determinato post selezionato in precedenza %>
<div class="form-edit">
  <h3 class="h3">Edit the post</h3>
  <% if (typeof index !== 'undefined') { %>
  <form action="/editPost" method="POST">
    <input type="hidden" name="index" value="<%= index %>" />
    <div class="mb-3">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        name="title"
        value="<%= posts[index].title %>"
        required
      />
    </div>

    <label class="form-label" for="blogPost">Blog Post:</label>
    <textarea class="form-control" name="blogPost" rows="6" required> <%= posts[index].body %></textarea>
       
    <div class="d-flex justify-content-center gap-3 mt-3">
      <%# Bottone per tornare alla homepage %>
      <a href="/" class="btn btn-secondary">Cancel</a>

      <%# Bottone per inviare il form %>
      <button class="btn btn-primary" type="submit">Edit post</button>
    </div>
   
  </form>
</div>
<% } %> 

<%# Inserimento footer %>
<%- include("partials/footer.ejs") %>
