<%- include("partials/header.ejs") %>

<div class="form-homepage">
  <h3 class="h3">Insert a new post</h3>
  <form action="/submit" method="POST">
    <div class="mb-3">
      <label class="form-label" for="title">Title:</label>
      <input class="form-control" type="text" name="title" id="title" required />
    </div>
    <div class="mb-3">
      <label class="form-label" for="blogPost">Blog Post:</label>
      <textarea
        class="form-control"
        name="blogPost"
        rows="6"
        id="blogPost"
        required
      ></textarea
      >
    </div>
    <div class="send-post-button">
      <button class="btn btn-primary" type="submit">Send post</button>
    </div>
    
  </form>
</div>

<div>
  <% if(posts.length === 0){ %>
  <h3>No posts yet</h3>
  <% } else { %> <% posts.forEach((post, index) => { %>
  <h4>Title: <br /><%= post.title %></h4>
  <h5>Post: <br /><%= post.body %></h5>
  <form action="/editPost?index=<%= index %>" method="GET">
    <input type="hidden" name="index" value="<%= index %>" />
    <button type="submit">Edit</button>
  </form>
  <form action="/deletePost" method="POST">
    <input type="hidden" name="index" value="<%= index %>" />
    <button type="submit">Delete</button>
  </form>
  <% }) %> <% } %>
</div>

<%- include("partials/footer.ejs") %>
